html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: Arial, sans-serif;
  color: #000000;
  position: relative;
}
button {
  cursor: pointer;
  user-select: none;
}

.PageLayout {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.23);;
}
