.Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 21px 20px 18px;
}

.Item-left {
  display: flex;
  gap: 22px;
}

.Item-right {
  display: flex;
}

.Item-right-price-container {
  display: flex;
  align-items: center;
  gap: 62px;
  padding-right: 24px;
  color: #404040;
  font-size: 18px;
}


